QWidget{
    background-color: #222020;
}

QPushButton{
    font-size: 18px;
    color: #ffffff;
    padding: 1px 3px;
    border-radius: 20px;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ff6537;
    opacity: 0.8;
}


QTextEdit, QLineEdit {
    color: #ffffff;
    font-size: 16px;
    border-radius: 7px;
    background-color: #6e1a00;
    outline: none;
    border-bottom: 0.1rem solid #af64f5;
}



    