QWidget{
    background-color: #222020;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

QPushButton{
    font-size: 18px;
    color: #ffffff;
    padding: 1px 3px;
    border-radius: 20px;
    border-style: none;
    letter-spacing: 2px;
    background-color: #ff6537;
    opacity: 0.8;
}


QTextEdit, QLineEdit {
    color: #ffffff;
    font-size: 16px;
    border-radius: 7px;
    background-color: #6e1a00;
    outline: none;
    border-bottom: 0.1rem solid #af64f5;
}

QMenu {
    background-color: #252525;
    border: 1px solid #666;
    selection-background-color: #252525;
    selection-color: #fff;
}
QMenu::item {
    color: #ddd;
    background-color: #252525;
}
QMenu::item:selected {
    background-color: #555;
    color: #fff;
}



    